.sidebar{
    background-color: var(--color-yelow);
}
.img-round{
    border-radius: 50% ;
    width:100px;
    height: 100px;
    overflow: hidden;
}
.btn-search{
    position: relative !important;
    left:-3rem !important;
}
.form-group {
    display: inline-flex !important;
    flex-direction: row !important;
}
form{
    height: 3rem !important;
    padding: 0px !important;
    margin: 0px !important;
}
.btn-search{
    border: 0;
    left: -2rem !important;
    position: relative !important;
}
.btn-notif{
    background-color: #0000;
    border: 0;
    align-self: center;
}
.btn-toggle-sidebar{
    width:25px !important;
    height: 25px !important;
}
.navbar-brand{
    align-items: center;
    display: flex;
}
.navbar{
    align-items: center !important;
    justify-content: space-between !important;
}
.navbar-nav{
    height: 2rem;
    align-items: center !important;
}
