.sidebar{
    background-color: var(--color-yelow);
}
.img-round{
    border-radius: 50% ;
    width:100px;
    height: 100px;
    overflow: hidden;
}
.btn-search{
    position: relative !important;
    left:-3rem !important;
}
.form-group {
    display: inline-flex !important;
    flex-direction: row !important;
}
form{
    height: 3rem !important;
    padding: 0px !important;
    margin: 0px !important;
}
.btn-search{
    border: 0;
    left: -2rem !important;
    position: relative !important;
}
.btn-notif{
    background-color: #0000;
    border: 0;
    align-self: center;
}
.btn-toggle-sidebar{
    width:25px !important;
    height: 25px !important;
}
.navbar-brand{
    align-items: center;
    display: flex;
}
.navbar{
    align-items: center !important;
    justify-content: space-between !important;
}
.navbar-nav{
    height: 2rem;
    align-items: center !important;
}
.card-students{
    background-color: rgba(240, 249, 255, 1);
}
.card-body{
    padding: 1rem;
}
.card-payments{
    background-color: rgba(254, 251, 236, 1);
}
.card-users{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
;
}
.card .card-image{
    height: 4rem;
    align-self: start;
    box-sizing: border-box;
}
.card-users .card-image,.card-payments .card-image{

}

.card-course{
    background-color: rgba(254, 246, 251, 1);
}
.card-text{
    padding-left: 1rem;
    padding-top: 1rem;
    color:rgba(108, 108, 108, 1);
    font-size: 0.9rem;
}
.card-title{
    font-size: 1.5rem;
}
